{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<br>
<br>
<div class="container">
    <div class="col-md-12 text-center">
        <h1 style="text-align: center; font-size: 200px; color: #68AF8F ">Oops!</h1>
        <h3 style="text-align: center; font-size: 80px; color: #68AF8F">Este modulo esta bajo construccion</h3>
        <h4 style="text-align: center; font-size: 50px; color: #68AF8F">Informatica Blanco Viajes</h4>
        <ul>
            <br>
            <a class="btn btn-success btn-lg" style="align-content: flex-start" href="{% url 'login' %}">Login Informatica</a>
        </ul>
    </div>
</div>
</body>
</html>