{% include 'baseti.html' %}
<br>
    <div class="card text-center table-responsive">
        <div class="card-body">
            <h2>Registro de Impresoras</h2>
            <br>
            <div class="container align-right">
                <td><a class="btn btn-success btn-lg" href="{% url 'impresoras' %}">Agregar Impresora</a></td>
            </div>
            <br>
            <table class="table table-striped table-hover table-responsive-sm text-center">
                        <tr class="align-content-center">
                            <th>Codigo</th>
                            <th>Num serie</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Asignado</th>
                            <th>Departamento</th>
                            <th>Estado</th>
                            <th>Observaciones</th>
                        </tr>
                            {% for l in listar %}
                        <tr>
                            <td>{{ l.codigo }}</td>
                            <td>{{ l.serieproducto }}</td>
                            <td>{{ l.marca }}</td>
                            <td>{{ l.modelo }}</td>
                            <td>{{ l.asignacion }}</td>
                            <td>{{ l.departamento }}</td>
                            <td>{{ l.estado }}</td>
                            <td>{{ l.observaciones }}</td>
                            <td><a class="btn btn-primary" href="{% url 'modificarimpresoras' l.id %}">Modificar</a></td>
                            <td><a class="btn btn-secondary btn-danger" href="{% url 'eliminarimpresoras' l.id %}">Eliminar</a></td>
                        </tr>
                            {% endfor %}
            </table>
        </div>
    </div>
	
	
	from django.contrib.auth import authenticate, login as dj_login
	
	
	
from django.shortcuts import render, get_object_or_404, redirect
from .models import *
from.forms import *
from django.db.models import Q
from django.contrib import messages
from django.contrib.auth import authenticate, login as dj_login





#SITIO
def home(request):
    foto = Fotos.objects.all()

    context = {
        'foto':foto,
    }
    return render(request, './sitio/home.html', context)

def login(request):
    return render(request, './registration/login.html')


def test(request):
    return render(request, './testing/test.html')


def maspublicaciones(request):
    busqueda_aviso = request.GET.get("busqueda_aviso")
    listaraviso = RegistroAviso.objects.all()

    if busqueda_aviso:
        listaraviso = RegistroAviso.objects.filter(
            Q(Titulo_de_publicacion__icontains=busqueda_aviso) |
            Q(Descripcion__icontains=busqueda_aviso) |
            Q(Comuna__icontains=busqueda_aviso)
        ).distinct()

    context = {
        'listaraviso': listaraviso,
    }
    return render(request, './sitio/maspublicaciones.html', context)


def panelayuda(request):
    return render(request, './sitio/ayuda.html')


def panelregistro(request):
    return render(request, './sitio/panelregistro.html')


#USUARIOS
def registrousuario(request):
    context = {
        'form': CuentaUsuarioForm()
    }
    if request.method == 'POST':
        formulario = CuentaUsuarioForm(data=request.POST)
        if formulario.is_valid():
            formulario.save()
            messages.success(request, 'Te has registrado exitosamente.')
            return redirect(to="home")

        context['form'] = formulario
    return render(request, './clientes/registro.html', context)


def modificarusuario(request, id):
    modificar_user = get_object_or_404(CuentaUsuario, id=id)

    context = {
        'form':CuentaUsuarioForm(instance=modificar_user)
    }
    if request.method == 'POST':
        formulario = CuentaUsuarioForm(data=request.POST, instance=modificar_user)
        if formulario.is_valid():
            formulario.save()
            context['mensaje'] = 'EL USUARIO SE HA MODIFICADO EXITOSAMENTE.'

        return redirect(to="panel")
        context["form"] = formulario

    return render(request, './clientes/modificar.html', context)


# RECOLECTORES

def registrorecolector(request):
    context = {
        'form': CuentaRecolectorForm()
    }
    if request.method == 'POST':
        formulario = CuentaRecolectorForm(data=request.POST)
        if formulario.is_valid():
            formulario.save()
            messages.success(request, 'Te has registrado exitosamente.')
            return redirect(to="home")

        context['form'] = formulario
    return render(request, './recoletores/registrorecolector.html', context)


# ADMINISTRADOR


def registrocuenta(request):
    context = {
        'form': CustomUserCreationForm()
    }
    if request.method == 'POST':
        formulario = CustomUserCreationForm(data=request.POST)
        if formulario.is_valid():
            formulario.save()
            user = authenticate(username=formulario.cleaned_data['username'], password=formulario.cleaned_data['password1'])
            login(request, user)
            messages.success(request, 'el usuario se encuentra activado exitosamente.')
            return redirect(to="panel")

        context['form'] = formulario
    return render(request, './administrador/registrocuenta.html', context)





def registroadministrador(request):
    context = {
        'form': CuentaAdminForm()
    }
    if request.method == 'POST':
        formulario = CuentaAdminForm(data=request.POST)
        if formulario.is_valid():
            formulario.save()
            messages.success(request, 'Te has registrado exitosamente.')
            return redirect(to="home")

        context['form'] = formulario
    return render(request, './clientes/registro.html', context)

def panel(request):
    busqueda_usuario = request.GET.get("busqueda_usuario")
    busqueda_recolector = request.GET.get("busqueda_recolector")
    busqueda_aviso = request.GET.get("busqueda_aviso")

    listarusuario = CuentaUsuario.objects.all()
    listarecolector = CuentaRecolector.objects.all()
    listaraviso = RegistroAviso.objects.all()


    if busqueda_usuario:
        listarusuario = CuentaUsuario.objects.filter(
            Q(Perfil_usuario__icontains=busqueda_usuario) |
            Q(Rut__icontains=busqueda_usuario) |
            Q(Nombre__icontains=busqueda_usuario) |
            Q(Apellido__icontains=busqueda_usuario) |
            Q(Correo__icontains=busqueda_usuario) |
            Q(Comuna__icontains=busqueda_usuario)
        ).distinct()

    if busqueda_recolector:
        listarecolector = CuentaRecolector.objects.filter(
            Q(Perfil_usuario__icontains=busqueda_recolector) |
            Q(Rut__icontains=busqueda_recolector) |
            Q(Rut_Empresa__icontains=busqueda_recolector) |
            Q(Nombre__icontains=busqueda_recolector) |
            Q(Apellido__icontains=busqueda_recolector) |
            Q(Correo__icontains=busqueda_recolector) |
            Q(Comuna__icontains=busqueda_recolector)
        ).distinct()

    if busqueda_aviso:
        listaraviso = RegistroAviso.objects.filter(
            Q(Titulo_de_publicacion__icontains=busqueda_aviso) |
            Q(Descripcion__icontains=busqueda_aviso) |
            Q(Comuna__icontains=busqueda_aviso)
        ).distinct()

    context = {
        'listarusuario': listarusuario,
        'listaraviso': listaraviso,
        'listarecolector': listarecolector

    }
    return render(request, './administrador/panel.html', context)


#PUBLICACIONES

def registroaviso(request):
    context = {
        'form': RegistroAvisoForm(),
    }
    if request.method == 'POST':
        formulario = RegistroAvisoForm(data=request.POST)
        if formulario.is_valid():
            formulario.save()
            context['mensaje'] = "SE HA REGISTRADO EXITOSAMENTE."
        else:
            context['form'] = formulario

    return render(request, './publicaciones/registro.html', context)


def eliminaraviso(request, id):
    eliminaravisos = get_object_or_404(RegistroAviso, id=id)
    eliminaravisos.delete()
    return redirect(to="panel")


def subirfoto(request):
    if request.method == 'POST':
        formulario = FotosForm(request.POST, request.FILES)
        if formulario.is_valid():
            formulario.save()

    cargasfotos = Fotos.objects.all()
    formulario = FotosForm()

    context = {
        'formulario': formulario,
        'cargasfotos': cargasfotos,
    }
    return render(request, './subidafoto.html', context)











respuesta
registro
listar
listarEditar
listarProductos [name='listarProductos']
actualizar
actualiza
modificarProducto/<id>/ [name='modificarProducto']
elimina
eliminar
eliminarProducto/<id>/ [name='eliminarProducto']
ingresar
ingresarProducto
agregarProducto
iniciar_sesion [name='iniciar_sesion']
sesion
detalleProducto/<id>/ [name='detalleProducto']
admin/
^media/(?P<path>.*)$
^static/(?P<path>.*)$




<section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">

                <div class="mb-md-5 mt-md-4 pb-5">

                  <h2 class="fw-bold mb-2 text-uppercase">Acceso</h2>
                  <p class="text-white-50 mb-5">Por favor ingrese su usuario y contraseña.</p>
                    <form action="" method="post">
                        <br>
                        {% csrf_token %}
                        {{ form | crispy }}
                    </form>
                  <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">ha perdido su contraseña?</a></p>
                    <br>
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Ingresar</button>

                  <div class="d-flex justify-content-center text-center mt-4 pt-1">
                  </div>

                </div>

                <div>
                  <p class="mb-0">No tiene cuenta? <a href="{% url 'home' %}" class="text-white-50 fw-bold">Registrese</a>
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	
	
	
	
	
	 <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
               {% cloudinary 'Screenshot_1_ysdxdt.png' width=1050 crop="fill" %}
            </div>
            <div class="carousel-item">
                {% cloudinary 'Screenshot_4_lwk6tq.png' width=1200 crop="fill" %}
            </div>
            <div class="carousel-item">
              {% cloudinary 'Screenshot_6_gw3blr.png' width=1050 crop="fill" %}
            </div>
            <div class="carousel-item">
              {% cloudinary 'Screenshot_5_ffvdzn.png' width=1200 crop="fill" %}
            </div>
             <div class="carousel-item">
              {% cloudinary 'Screenshot_3_bnfiwq.png' width=1050 crop="fill" %}
            </div>
          </div>
    </div>
	
	
	RECISMARTBD2