{% include 'baseti.html' %}
{% load crispy_forms_tags %}

<div class="container py-4">
        <div class="row justify-content-center py-4">
            <h5 class="row col-sm-12 col-md-6 col-md-5 justify-content-center display-6 py-md-4 shadow" style="color: white; background-color: #198754; border-radius: 10px">Ingreso</h5>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post" autocomplete="on">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <br>
                            <div class="d-flex justify-content-end">
                                <input type="reset" value="cancelar" class="btn btn-secondary">
                                &nbsp;
                                <button class="btn btn-success" type="submit" id="btnenviar">Enviar</button>
                            </div>
                        </form>
                        {{ mensaje }}
                    </div>
                </div>
            </div>
        </div>
    </div>