{% include 'baseti.html' %}
<br>
    <div class="card text-center table-responsive">
        <div class="card-body">
            <h2>Registro de equipos</h2>
            <br>
                <td><a class="btn btn-success btn-lg" href="{% url 'equipos' %}">Agregar equipo</a></td>
            </div>

                <br>
                <table class="table table-striped table-hover text-center">
                            <tr class="align-content-center">
                                <th>Codigo</th>
                                <th>Num serie</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Procesador</th>
                                <th>Sistema Operativo</th>
                                <th>Disco duro</th>
                                <th>RAM</th>
                                <th>Direccion IP</th>
                                <th>Nombre equipo</th>
                                <th>Asignado</th>
                                <th>Departamento</th>
                                <th>Estado</th>
                                <th>Observaciones</th>
                            </tr>
                                {% for l in listar %}
                            <tr>
                                <td>{{ l.codigo }}</td>
                                <td>{{ l.serieproducto }}</td>
                                <td>{{ l.marca }}</td>
                                <td>{{ l.modelo }}</td>
                                <td>{{ l.procesador }}</td>
                                <td>{{ l.sistema_operativo }}</td>
                                <td>{{ l.direccion_ip }}</td>
                                <td>{{ l.memoria_ram }}</td>
                                <td>{{ l.direccion_ip }}</td>
                                <td>{{ l.hostname }}</td>
                                <td>{{ l.persona}}</td>
                                <td>{{ l.departamento }}</td>
                                <td>{{ l.estado }}</td>
                                <td>{{ l.observaciones }}</td>
                                <td><a class="btn btn-primary" href="{% url 'modificarequipos' l.id %}">Modificar</a></td>
                                <td><a class="btn btn-secondary btn-danger" href="{% url 'eliminarequipos' l.id %}">Eliminar</a></td>
                            </tr>
                                {% endfor %}
                </table>
            </div>
        </div>
    </div>


