{% include 'base.html' %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}
    <!-- contendor principal  login-->
    <div class="container py-4">
        <div class="row justify-content-center py-4">
                <h1 class="row justify-content-center display-4 py-lg-4">Ingreso al sistema</h1>
                <img src="{% static '/img/fingerprint.svg' %}" alt="logo-login" class="rounded mx-auto d-block" style="width:260px">
				</div>
					<div class="row justify-content-center h-100 py-4">
						<div class="col-sm-8 col-md-6 col-lg-6 rounded">
							<div class="row">
								<div class="col-sm-10 col-md-12 col-lg-12">
										<form class="" action="" method="post">
                                            {% csrf_token %}
                                            {{ form | crispy }}
                                            &nbsp;
                                            <br>
                                            <input type="submit" value="Ingresar" class="btn btn-success" href="#">
										</form>
							</div> </div>
						</div>
					</div>
				</div>
        </div>
    </div>
{% endblock %}